{% extends "_layout.html" %}
{% block main_content %}
    <a onclick="redirectTo('/')"
       class="mb-5 py-2 pr-3 rounded-lg inline-block cursor-pointer">
        <i data-feather="arrow-left" class="h-7 w-7"></i>
    </a>
    <h1 class="text-4xl font-bold mt-5 mb-7">Товары</h1>
    {% include 'partials/search_form.html' with context %}
{% endblock %}
{% block css %}
    <style>

.added { color: green; }

.clear-icon {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    cursor: pointer;
}

.smooth {
    transition: all .1s ease-in;
}
    </style>
{% endblock %}
{% block javascript %}
    <script>
    function show_x_button(event) {
        const button = htmx.find("#search button");
        if (htmx.find("#searchInput").value) {
            htmx.removeClass(button, "hidden");
        } else {
            htmx.addClass(button, "hidden")
        }
    }

    </script>
{% endblock %}
